# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

RewriteCond %{HTTP_HOST} ^bandwidz.com$ 
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]